<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Student.master.cs" Inherits="Course_System.Student.Student" %>


<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
     <script src="../Scripts/bootstrap.min.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        a{
            text-decoration:none;
        }
        .mainmenu, .submenu {
          list-style: none;
          padding: 0;
          margin: 0;
         
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu .link,a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color:#fff;
 
}

.mainmenu li{
    padding-left:2rem;
}


/* add hover behaviour */
.mainmenu li:hover {
    background-color: #01021d;
    color:#fff;
    
}
.mainmenu .link,a:hover {
    
    color:#fff;
    
}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 20rem;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/



/* hover behaviour for links inside .submenu */
.submenu li:hover {
  background-color:#020328;
  width:20rem;
  height:inherit;

}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  padding-left:0rem;
}

.content{
    margin-left: 16.5%;
}

@media only screen and (max-width: 760px) {
    .sidebar {
    width:3rem;
  }
  .mainmenu li .link{
      display:none;
  }
  .content{
      margin-left:0%;
      width:100%;
      
     
      
  }

  .mainmenu li{
    padding-left:0rem;
    padding-top:2rem;

  }

  .profile
  {
      display:none;
  }
}
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="row m-0 p-0" >
            <div class="col-md-2 col-sm-2 sidebar" style="background-color:#000112;height:100vh;  position: fixed;  left: 0;  top: 0;color:white">
                 <div class="px-3 pt-4 pb-2">
                     <div align="center" class="profile">
                         <img src="../Images/blank-profile-picture-g3e0e17909_1280.png" class="img-fluid rounded-circle shadow"  style="width:4rem"/>

                         <h3 class="pt-3"><b>Student</b></h3>
           
                     </div>
                     <hr />
                  </div>
                
                <ul class="mainmenu" style="font-size:1.25rem">
                    <li class="d-flex align-items-center"><i class="fa fa-home"></i><a class="link" href="home.aspx">Home</a></li>
                    <li class=""><div class="d-flex align-items-center"><i class="fa fa-graduation-cap"></i><a class="link" href="EnrolledCourses.aspx">Courses</a></div>

                    </li>

                     <li class=""><div class="d-flex align-items-center"><i class="fa fa-tasks"></i><div class="link">Assignments</div></div>
                      <ul class="submenu">
                       <li class="d-flex align-items-center"><i class="fa fa-plus"></i><a href="#">Add</a></li>
                       <li class="d-flex align-items-center"><i class="fa fa-edit"></i><a href="#">Edit</a></li>
                       <li class="d-flex align-items-center"><i class="fa fa-trash"></i><a href="#">Delete</a></li>
                      </ul>
                     </li>
                   <li class="d-flex align-items-center "><i class="fa fa-address-book"></i><a class="link" href="#">Reports</a></li>
                </ul>

            </div>
           


            <div class="col-md-10 col-sm-10 content px-0" style="background-color:#fbfbfb;font-family:sans-serif;height:100vh;overflow-x: hidden">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>


            <!-- Footer -->

<!-- Footer -->
        </div>
    </form>
</body>
</html>
