<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	     <add key="smtpServer" value="smtp.gmail.com" />
        <add key="EnableSsl" value = "true"/>
        <add key="smtpPort" value="587" />
        <add key="smtpUser" value="vinayakkadam935@gmail.com" />
        <add key="smtpPass" value="virat183" />
        <add key="adminEmail" value="vinayakkadam935@gmail.com" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="sender@gmail.com">
				<network host="smtp.gmail.com" password="metics123456" port="587" userName="MET ICS"  enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>